* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 25, 64, 255);
}

mat-toolbar {
  background-color: rgba(228, 0, 25, 255);
}

.toolbar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.formatapp {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 10rem;
}
